
.navbar {
height: 10.5vh;
background-color: #1b1919;
display :flex;
justify-content: center;
align-items: center;
}

  

.navbar a:hover {
    background-color:  rgb(0, 212, 212);
  
  }

.navbar-logo {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
}

.nav-items{
    display: flex;
    list-style: none;
    text-align: center;
    width: 70vm;
    justify-content: flex-end;
    margin-right: 2rem;   
}

.nav-items{
    display: flex;
    align-items: center;
    height: 20vh;
}

.nav-items a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-right: 2rem ;

}

.nav-items a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-right: 2rem ;
    
}


.nav-item a:hover{
    background: rgb(0, 212, 212);
    
}

 